__pycache__/                                                                                                                                                                                             
*.pyc                                                                                                                                                                                                    
.vscode/                                                                                                                                                                                                 
pipeline/data/                                                                                                                                                                                           
data/                                                     
class_content/                                                                                                                                                                                           
*.pdf                                                     
venv/                                                                                                                                                                                                    
*.egg-info/                                               
.env 